<div class='helper__message'>
  <%= message %>
</div>

<div class='helper__args-message'>
  <%= message_with_args('macro helper method') %>
</div>

<div class='helper__kwargs-message'>
  <%= message_with_kwargs(name: 'macro kwargs helper method') %>
</div>

<div class='helper__prefix-message'>
  <%= macro_helper_message_with_prefix('macro prefix helper method') %>
</div>

<div class='helper__prefix-message'>
  <%= named_message_with_named_prefix('macro named prefix helper method') %>
</div>

<div class='helper__block-message'>
  <%= block_content %>
</div>
