<div class="card">
  <div class="<%= header_class_names %>">
    <%= header %>
  </div>
  <div class="<%= body_class_names %>">
    <%= body %>
  </div>
  <div class="<%= footer_class_names %>">
    <%= footer %>
  </div>
</div>
