<div class="card <%= @class_names %>">
  <div class="title">
    <%= title.content %>
  </div>
  <div class="subtitle">
    <%= subtitle.content %>
  </div>
  <div class="nav">
    <% tabs.each do |tab| %>
      <div class="tab">
        <%= tab.content %>
      </div>
    <% end %>
  </div>
  <div class="body">
    <% items.each do |item| %>
      <div class="item <%= item.class_names %>">
        <%= item.content %>
      </div>
    <% end %>
  </div>
  <div class="footer <%= footer.class_names %>">
    <%= footer.content %>
  </div>
</div>
