<%= stylesheet_link_tag "view_component/prism.css" %>

<% if @host_application_layout == false %>
  <%= yield %>
<% else %>
  <%= render template: "layouts/#{@host_application_layout || 'application'}" %>
<% end %>

<h2>Source:</h2>
<pre class="source">
  <% if @render_args[:component] %>
    <code class="language-ruby">
      <%=h @preview.preview_example_source(@example_name) %>
    </code>
  <% else %>
    <% template = @view_renderer.lookup_context.find_template(@render_args[:template]) %>
    <code class="language-<%= prism_language_name(template: template) %>">
      <%=h template.source %>
    </code>
  <% end %>
</pre>

<%= javascript_include_tag "view_component/prism.min.js" %> 
