<%= stylesheet_link_tag "view_component/prism.css" %>

<% if @host_application_layout == false %>
  <%= yield %>
<% else %>
  <%= render template: "layouts/#{@host_application_layout || 'application'}" %>
<% end %>

<h2>Source:</h2>
<pre class="source">
  <code class="language-markup">
    <% if @render_args[:component] %>
      <%= @preview.preview_example_source(@example_name) %>
    <% else %>
      <%= File.read(@view_renderer.lookup_context.find_template(@render_args[:template]).identifier) %>
    <% end %>
  </code>
</pre>

<%= javascript_include_tag "view_component/prism.min.js" %> 
